.transition-fade {
	transition: opacity 0.3s ease-in-out;
}
.contact-info {
	text-align: center;
	font-size: 1.2rem;
}

.contact-line {
	justify-content: center;
	align-items: center;
}

.phone,
.fax,
.email,
.address {
	margin: 0;
	padding: 5px 0;
}

.phone,
.fax {
	display: inline-block;
}

.bolded-red-text {
	color: #c1301b;
	font-weight: bold;
}

.separator {
	padding: 0 10px;
}

.email,
.address {
	display: block;
	text-align: center;
	color: #333;
}

.email {
	font-style: italic;
}

.contact-body {
	font-family: Arial, sans-serif;
	/* display: flex; */
	justify-content: center;
}

.contact-container {
	background-color: white;
	padding: 20px;
	border-radius: 8px;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.contact-heading {
	margin-bottom: 20px;
}

.form-group {
	margin-bottom: 15px;
}

label {
	display: block;
	margin-bottom: 5px;
	text-align: left;
}

input {
	width: 100%;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 4px;
}

.btn:hover {
	background-color: #0056b3;
}

.form-group {
	margin-bottom: 20px;
}

.form-group label {
	display: block;
	font-weight: bold;
	margin-bottom: 8px;
	font-size: 16px;
}

.input-container {
	display: flex;
	align-items: center;
	border: 1px solid #ccc;
	border-radius: 5px;
	padding: 10px;
	background-color: #f9f9f9;
}

.input-container i {
	margin-right: 10px;
	font-size: 18px;
	color: #888; /* Gray for default state */
	transition: color 0.3s; /* Smooth transition for color change */
}

.icon-red {
	color: #c1301b !important; /* Red color */
}

.input-container input,
.input-container select {
	border: none;
	width: 100%;
	padding: 10px;
	font-size: 16px;
	background: transparent;
	outline: none;
}

.chip-container {
	display: flex;
	justify-content: left;
	gap: 10px;
	margin-top: 15px;
}

.chip {
	min-width: 250px;
	padding: 10px 15px;
	border-radius: 20px;
	background-color: #e0e0e0;
	cursor: pointer;
	color: #333;
	transition:
		background-color 0.3s,
		color 0.3s;
}

.chip:hover {
	background-color: #d0d0d0;
	color: #333;
}

.chip-selected {
	color: white !important;
	background-color: #c1301b !important;
}

.submit-btn-container {
	display: flex;
	justify-content: center;
	margin-top: 20px;
}

button.submit-buyer-info-btn {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 10px 20px;
	font-size: 16px;
	background-color: #c1301b;
	color: white;
	border: none;
	border-radius: 5px;
	margin: 0 auto; /* Center the button */
}

button.submit-buyer-info-btn i {
	margin-right: 8px;
}

.phone-link {
	min-width: 150px;
}

.email-link {
	margin-left: 8px;
}

.address-link {
	margin-left: 8px;
}

.phone-link:hover {
	color: red;
}

.sample-number {
	color: gray;
	font-weight: 100;
}

.loading-cursor {
	cursor: progress;
}

/* Media query for bigger than phone (min-width: 767px) */
@media only screen and (min-width: 768px) {
	.contact-body {
		display: flex;
	}
}

/* Media query for phones (min-width: 767px) */
@media only screen and (max-width: 767px) {
	.sample-number {
		display: block;
	}
	.chip-container {
		display: block;
	}
	.chip {
		margin: 5px;
	}
}
