* {
	/* border: 1px red dotted; */
}

.footer-container {
	padding: 0px;
	margin-bottom: 0px;
}

.feet {
	display: flex;
}

.social-icons {
	display: flex;
	gap: 8px;
}

.social-icons a {
	color: #000;
	transition: color 0.3s;
	text-decoration: none;
	border: 1px black solid;
	border-radius: 10px;
	padding: 4px 8px;
}

.social-icons i {
	margin-right: 3px;
}

.social-icons a:hover {
	border: 1px black solid;
	box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
}

.social-icons a:hover i.fa-facebook-f {
	color: #3b5998;
}

.social-icons a:hover i.fa-twitter {
	color: #1da1f2;
}

.social-icons a:hover i.fa-instagram {
	color: #e4405f;
}

.copyright {
	margin-bottom: 0;
}

.flameout_logo_container {
	overflow: hidden;
	display: flex;
	align-items: flex-end;
	justify-content: end;
}

.flameout_logo img {
	width: 120px;
	height: auto;
	object-fit: contain;
	transition: transform 0.3s ease;
}

.flameout_logo img:hover {
	transform: scale(1.1);
	overflow: hidden;
}

.copyright-link,
.flameout_logo_link {
	text-decoration: none;
	color: inherit;
}

.copyright-link:hover,
.flameout_logo_link:hover {
	text-decoration: underline;
	color: red;
}

.socials-container {
	justify-content: start;
}

.copyright-container {
	justify-content: center;
}

.flameout_logo-container {
	justify-content: end;
}

@media only screen and (min-width: 768px) {
	.feet {
		align-items: end;
	}
}

@media only screen and (max-width: 768px) {
	.feet {
		/* flex-direction: column; */
		align-items: center;
		margin-top: 30px;
	}

	.feet > * {
		margin: 10px;
	}

	.social-icons a {
		font-size: 0;
	}
	.social-icons a i {
		font-size: 1.5rem;
	}

	.copyright {
		font-size: 10px;
	}

	.flameout_logo img {
		width: 65px;
		height: auto;
		object-fit: contain;
	}
}
