* {
	/* border: 1px green dotted; */
}

.nav-link {
	color: black !important;
}

.nav-item:hover {
	background-color: #c1301b;
}
.nav-item:hover .nav-link {
	color: white !important;
}

.nav-item {
	margin-top: 1rem;
	padding-left: 1.5rem;
	padding-right: 1.5rem;
}

.brand-image {
	/* border: 1px blue solid; */
	height: 30px;
	scale: 2;
	margin-left: 40px;
	margin-top: 0px;
	position: absolute;
}

/* Media query for phones (max-width: 767px) */
@media only screen and (max-width: 767px) {
	.brand-image {
		margin-top: 10px;
		margin-left: 30px;
	}
}
