* {
	/* border: 1px green dotted; */
}

.nav-link {
	color: black !important;
	font-weight: bold;
	/* border: 1px green dotted !important; */
}

.nav-item:hover {
	background-color: #c1301b;
}
.nav-link:hover {
	color: white !important;
}

.nav-item {
	margin-top: 1rem;
	padding-left: 1.5rem;
	padding-right: 1.5rem;
	/* border: 1px red dotted !important; */
}
