* {
	/* border: 1px pink dotted; */
}

.Home-contents {
	margin-top: 10px;
	margin-bottom: 35px;
	height: 100%;
}

.home-side {
	flex-direction: column;
	justify-content: space-evenly;
}

.transition-fade {
	transition: opacity 0.3s ease-in-out;
}

.featuredpic_container {
	z-index: -99;
	overflow: hidden;
}

.featuredpic_container img {
	width: 45vh;
	transform: scale(1.3);
	z-index: -99;
}

.fireproshield img {
	width: 50vh;
	max-width: 100%;
	height: auto;
	object-fit: cover;
	margin: 0px;
	z-index: -99;
}

.home-title,
.home-subtitle {
	color: rgba(0, 0, 0, 1);
	text-align: left;
	font-family: Poppins;
}

.home-title {
	font-size: clamp(18px, 2vw, 28px);
}

.home-subtitle {
	font-size: clamp(14px, 2vw, 24px);
}

.mainbutton {
	justify-content: flex-start;
}

.viewext {
	background: #c1301b;
	border-radius: 10px;
	color: #ffffff;
	padding: 8px 65px;
}

.viewext:hover {
	background: rgba(255, 255, 255, 0.1);
	box-shadow: inset 0 0 0 1px rgba(193, 48, 27, 1);
	color: rgba(193, 48, 27, 1);
	font-weight: 600;
}

.video-container {
	max-width: 100%;
	margin: 0 auto;
}

.video-container video {
	width: 100%;
	height: auto;
}

/* Responsive styles */
@media only screen and (min-width: 768px) {
	.firebg {
		background-image: url("/public/images/mainImages/firebg3.png");
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: -99;
		opacity: 0.6;
	}
}
@media only screen and (max-width: 768px) {
	.firebg {
		background-image: url("/public/images/mainImages/firebg3.png");
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: -99;
		opacity: 0.6;
	}

	.featuredpic_container {
		display: none;
	}

	.featuredpic-mobile {
		height: 55vh;
		margin-top: -50px;
		margin-bottom: -25px;
		display: block;
		background: url("/public/images/mainImages/featured.png") no-repeat
			center;
		background-size: contain;
	}

	.fireproshield img {
		width: 100%;
		padding: 0px 20px;
		margin: 0px;
	}

	.home-title {
		text-align: center;
		margin: 0px;
		padding: 40px 0px 10px 0px;
	}

	.home-subtitle {
		text-align: center;
		padding: 5px;
		margin: 0px;
	}

	.mainbutton {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100%;
	}
}

.gallery-cell {
	width: 66%;
	height: 200px;
	margin-right: 10px;
	counter-increment: gallery-cell;
}

.gallery-cell:before {
	display: block;
	text-align: center;
	content: counter(gallery-cell);
	line-height: 200px;
	font-size: 80px;
}

.flickity-prev-next-button {
	background: none;
	border: none;
	cursor: pointer;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 40px;
	height: 40px;
	z-index: 1;
	display: flex;
	align-items: center;
	justify-content: center;
	opacity: 0.2;
	transition: opacity 0.3s;
}

.flickity-prev-next-button:hover {
	opacity: 0.7;
}

.flickity-prev-next-button.previous {
	left: -50px;
}

.flickity-prev-next-button.next {
	right: -50px;
}

.flickity-prev-next-button .flickity-button-icon {
	fill: #333;
}

.flickity-prev-next-button .flickity-button-icon path {
	stroke: none;
}
