* {
	/* border: 1px red dotted; */
}
.transition-fade {
	transition: opacity 0.3s ease-in-out;
}

.images_combo {
	padding: 0px 100px;
}

.productdeets {
	margin: 50px;
}

.productdeets p {
	font-family: "Poppins", sans-serif;
}

.minis {
	z-index: 6;
}

.enlarged1,.enlarged2,.enlarged3 {
	z-index: 5;
}

.introduction {
	margin-top: 3%;
	margin-bottom: 5%;
}

.product_card {
	background-color: rgb(253, 253, 254);
	margin-bottom: 50px;
	border: 1px solid white;
	border-radius: 50px;
	box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
	transition: box-shadow 0.3s ease;
}

.product_card:hover {
	box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
}

h1 {
	color: #ff701f;
	text-align: center;
}

.picture {
	justify-content: center;
	align-items: center;
	display: flex;
}

.picture > img:nth-child(-n + 5) {
	width: 320px;
}

.prices {
	text-align: end;
}
.prices > * {
	font-family: "Alfa Slab One", serif;
	font-size: 20px;
}

p {
	text-align: left;
}

.buy_now {
	background-color: #c1301b;
	color: #ffffff;
	width: 140px;
}

.buy_now_container {
	text-align: left;
}

.bottomers {
	margin-top: 7%;
}

.buy_now:hover {
	background-color: #ffffff;
	border-color: #c1301b;
	border-width: 2px;
}

.product-name {
	font-weight: bold;
	margin-bottom: 5%;
	font-size: 35px;
}

.freebies {
	z-index: 1;
	height: 150px;
	object-fit: contain;
}

.scroll-to-top-btn {
	position: fixed;
	bottom: 70px;
	right: 20px;
	z-index: 1000;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background-color: #c1301b;
	color: white;
	border: none;
	cursor: pointer;
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

.scroll-to-top-btn .MuiSvgIcon-root {
	font-size: 24px;
}

/* Hide the second button on desktop (min-width: 768px) */
@media only screen and (min-width: 768px) {
	.big-product {
		padding: 20px;
	}
	
	.big-product .picture > img:nth-child(-n + 5) {
		width: 480px;
		height: auto;
		margin: 0 -90px;
	}	
	.col-md-6.buy_now_container:last-child {
		display: none;
	}
	.mobile_even {
		display: none;
	}
	.enlarged1,
	.enlarged2,
	.enlarged3 img {
		width: 320px;
		height: auto;
	}
	.minis {
		position: relative;
		display: flex;
		gap: 10px;
		flex-direction: column;
		margin: 5px;
	}
}

/* Media query for phones (max-width: 767px) */
@media only screen and (max-width: 767px) {
	.images_combo {
		margin: 0px;
		padding: 0px;
	}
	.introduction {
		margin-top: 5%;
	}

	.introduction h6 {
		padding: 0px 10px;
	}

	.product_card {
		margin: 15px 8px;
		padding: 0px;
	}

	.picture {
		margin: auto;
		padding: auto;
	}

	.picture > img:nth-child(-n + 5) {
		flex-direction: column-reverse;
		width: auto;
		height: 200px;
		margin: 10px;
	}
	.freebies {
		margin-left: -8px;
		height:70px;
	}

	.productdeets {
		margin: 15px;
	}

	.product-name {
		font-size: 24px;
	}

	.product-info {
		font-size: 14px;
	}

	.product-description {
		font-size: 12px;
		text-align: center;
	}

	.bottomers {
		margin: 0px;
	}

	.prices {
		text-align: center;
		padding-bottom: 12px;
	}

	.prices > * {
		font-size: 14px;
	}

	.row.even-product {
		flex-direction: column-reverse;
	}

	.quote {
		padding: 10px;
	}

	.quote h5 {
		padding: 5px;
		font-size: 1rem;
	}
	.minis {
		position: relative;
		display: flex;
		gap: 10px;
		flex-direction: column;
		margin-top: 10px;
	}
	.enlarged1,
	.enlarged2,
	.enlarged3 {
		margin: 10px;
	}
	.big-product {
	}
	
	.big-product .picture > img:nth-child(-n + 5) {
		width: auto;
		height: 250px;
		margin: 10px -40px 0px -40px;
	}
	
}

.minified1,
.minified2,
.minified3 {
	width: 50px;
	opacity: 0.6;
	transition: all 0.3s ease;
	cursor: pointer;
}

.minified1:hover,
.minified2:hover,
.minified3:hover {
	opacity: 90%;
	border: 2px solid #c1301b;
	transform: scale(1.1);
	transition:
		transform 0.2s,
		border 0.2s;
}

.highlight-product {
	box-shadow: 0 0 10px #c1301b;
	transition:
		border 0.3s ease,
		box-shadow 0.3s ease;
	animation: removeShadow 3s forwards;
}

