* {
	/* border: 1px green dotted; */
}

.introduction {
	margin-top: 3%;
	margin-bottom: 5%;
}

.product_card {
	margin-bottom: 100px;
}

h1 {
	color: #ff701f;
	text-align: center;
}

.picture > img {
	height: 60vh;
}

.prices {
	text-align: end;
}
.prices > * {
	font-family: "Alfa Slab One", serif;
	font-size: 20px;
}

p {
	text-align: left;
}

.buy_now {
	background-color: #c1301b;
	color: #ffffff;
	width: 140px;
}

.buy_now_container {
	text-align: left;
}

.bottomers {
	margin-top: 7%;
}

.buy_now:hover {
	background-color: #ffffff;
	border-color: #c1301b;
	border-width: 2px;
}

.productdeets > h1 {
	font-weight: bold;
	margin-bottom: 5%;
}

.foot {
	margin-top: 15%;
}

/* Hide the second button on desktop (min-width: 768px) */
@media only screen and (min-width: 768px) {
	.col-md-6.buy_now_container:last-child {
		display: none;
	}
	.mobile_even {
		display: none;
	}
}

/* Media query for phones (max-width: 767px) */
@media only screen and (max-width: 767px) {
	.introduction {
		margin-top: 5%;
	}

	.introduction h6 {
		padding: 0px 10px;
	}

	.product_card {
		margin-bottom: 50px;
	}

	.picture > img {
		width: 100%;
		height: 100%;
	}

	.productdeets {
		margin-top: 10px;
	}

	.productdeets > p {
		text-align: center;
	}

	.productdeets p:last-child {
		display: none;
	}

	.bottomers {
		margin-top: 0px;
	}

	.buy_now_container {
		text-align: center;
	}

	.prices {
		text-align: center;
	}

	.desktop_even {
		display: none;
	}

	.mobile_even {
		visibility: visible;
		width: 100%;
	}

	.row.even-product {
		flex-direction: column-reverse;
	}

	.bottomers {
		flex-direction: column-reverse;
	}

	.col-md-6.picture {
		text-align: center;
	}

	.col-md-6.picture img {
		max-width: 100%;
	}

	.quote {
		padding-bottom: 30px;
	}

	.quote h5 {
		font-size: 1rem;
	}
}
