* {
	/* border: 1px pink dotted; */
}
.transition-fade {
	transition: opacity 0.3s ease-in-out;
}

.images_combo {
	padding: 0px 100px;
}

.productdeets {
	margin: 50px;
}

.productdeets p {
	font-family: "Poppins", sans-serif;
}

.introduction {
	margin-top: 3%;
	margin-bottom: 5%;
}

.product_card {
	background-color: rgb(253, 253, 254);
	margin-bottom: 50px;
	border: 1px solid white;
	border-radius: 50px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
	transition: box-shadow 0.3s ease;
}

.product_card:hover {
	box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
}

h1 {
	color: #ff701f;
	text-align: center;
}

.picture {
	display: flex;
	justify-content: center;
	align-items: center;
}

.picture > img {
	height: 280px;
}

.prices {
	text-align: end;
}
.prices > * {
	font-family: "Alfa Slab One", serif;
	font-size: 20px;
}

p {
	text-align: left;
}

.buy_now {
	background-color: #c1301b;
	color: #ffffff;
	width: 140px;
}

.buy_now_container {
	text-align: left;
}

.bottomers {
	margin-top: 7%;
}

.buy_now:hover {
	background-color: #ffffff;
	border-color: #c1301b;
	border-width: 2px;
}

.product-name {
	font-weight: bold;
	margin-bottom: 5%;
	font-size: 35px;
}

.scroll-to-top-btn {
	position: fixed;
	bottom: 20px;
	right: 20px;
	z-index: 1000;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background-color: #c1301b; /* Red background */
	color: white; /* White icon */
	border: none;
	cursor: pointer;
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

.scroll-to-top-btn .MuiSvgIcon-root {
	font-size: 24px;
}

/* Hide the second button on desktop (min-width: 768px) */
@media only screen and (min-width: 768px) {
	.col-md-6.buy_now_container:last-child {
		display: none;
	}
	.mobile_even {
		display: none;
	}
}

/* Media query for phones (max-width: 767px) */
@media only screen and (max-width: 767px) {
	.images_combo {
		margin: 0px;
		padding: 0px;
	}
	.introduction {
		margin-top: 5%;
	}

	.introduction h6 {
		padding: 0px 10px;
	}

	.product_card {
		margin: 15px 8px;
		padding: 0px;
	}

	.picture {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.picture > img {
		width: 60%;
		height: auto;
	}

	.productdeets {
		margin: 15px;
	}

	.product-name {
		font-size: 24px;
	}

	.product-info {
		font-size: 14px;
	}

	.product-description {
		font-size: 12px;
		text-align: center;
	}

	.bottomers {
		margin: 0px;
	}

	.prices {
		text-align: center;
		padding-bottom: 12px;
	}

	.prices > * {
		font-size: 14px;
	}

	.row.even-product {
		flex-direction: column-reverse;
	}

	.quote {
		padding: 10px;
	}

	.quote h5 {
		padding: 5px;
		font-size: 1rem;
	}
}
