* {
	/* border: 1px red dotted; */
}

.page-container {
	opacity: 1;
	transition: opacity 0.3s ease-in-out;
}

.page-container.fade-enter {
	opacity: 0;
}

.page-container.fade-enter-active {
	opacity: 1;
}

.page-container.fade-exit {
	opacity: 1;
}

.page-container.fade-exit-active {
	opacity: 0;
}
