* {
	/* border: 1px red dotted; */
}

.App {
	text-align: center;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

/* 
 /////////////////
 */

.firebg {
	width: 100%;
	height: 800px;
	background: url("./images/firebg3.png");
	background-repeat: no-repeat;
	background-size: cover;
	opacity: 1;
	position: absolute;
	overflow: visible;
	top: 0; /* Position at the top */
	left: 0; /* Position at the left */
	z-index: -10; /* Set a lower z-index to place it behind other content */
	opacity: 1;
}

.col-md-8 {
	text-align: left;
}

.frame_one {
	height: 720px;
}

.fireproshield {
	width: 100%;
	height: 28%;
	padding-bottom: 3%;
	display: flex;
	align-items: center;
	overflow: hidden;
}

.fireproshield img {
	max-width: 200%;
	max-height: 170%;
	margin-top: 7%;
	margin-left: -5%;
	object-fit: contain;
}

.title {
	color: rgba(0, 0, 0, 1);
	font-family: Poppins;
	font-weight: Bold;
	font-size: 2rem;
	opacity: 1;
	text-align: left;
	margin-top: 3%;
}
.subtitle {
	color: rgba(0, 0, 0, 1);
	font-family: Poppins;
	font-weight: Regular;
	font-size: 1rem;
	opacity: 1;
	text-align: left;
	margin-top: 2%;
}
.featuredpic {
	width: 100%; /* Set the width */
	height: 700px; /* Set the height */
	background: url("./images/featured.png");
	background-repeat: no-repeat;
	background-position: center center;
	margin-top: -90px;
	background-size: cover;
	opacity: 1;
	overflow: hidden;
}
.mainbutton {
	margin-top: 3%;
}

.viewext {
	background: rgba(193, 48, 27, 1);
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	color: rgba(255, 255, 255, 1);
	padding: 8px 65px 8px 65px;
}

.social-icons {
	bottom: 20px;
	left: 20px;
	display: flex;
	gap: 4px;
	margin-top: auto;
}

.social-icons a {
	display: flex;
	align-items: flex-end;
}
.social-icons img {
	color: #000;
	font-size: 24px;
	transition: color 0.3s;
	height: 60%;
}

.social-icons a:hover {
	color: red;
}

.flamout_logo {
	width: 250px; /* Make the logo take up the full width of the parent div */
	height: 150px; /* Make the logo take up the full height of the parent div */
	background: url("./images/flamoutlogo.png");
	background-repeat: no-repeat;
	background-position: center -35px;
	background-size: cover;
	overflow: hidden;
}

.frame_two {
	height: 100%;
	width: 100%;
}

.red_border {
	margin: 85px 0px 85px 0px;
}

.introduction {
	margin-bottom: 50px;
}
